.w-img-preview {
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.w-img-preview img {
    display: block;
    width: 100%;
}

input.w-upload-img {
    display: inline-block;
    min-height: 40px;
    width: 74%;
    border: 1px dashed #ddd !important;
    box-shadow: none !important;
}

input.w-clear-img {
    display: inline-block;
    min-height: 40px;
    width: 25%;
    border: 1px dashed #ddd !important;
    box-shadow: none !important;
}

input.w-clear-img:after {
    display: table;
    clear: both;
    width: 100%;
    content: '';
}

.term-php.taxonomy-category #edittag h3 {
    display: block;
    margin-bottom: 0;
    padding: 20px;
    width: 100%;
    border-radius: 2px;
    background-color: #363a42;
    color: #fff;
    text-align: center;
    font-size: 22px;
}

.term-php.taxonomy-category #edittag h3 + .form-table > tr {
    border-top: 1px solid #aaa;
}

.rwtm-uploaded img {
    object-fit: cover;
    -webkit-object-fit: cover;
}

[id$="widget-fw-instagram-__i__"] .widget-top .widget-title h3 {
    background-color: #363a42;
    color: #fff;
}

[id$="facebook-__i__"] .widget-top .widget-title h3,
[id$="flickr-__i__"] .widget-top .widget-title h3,
[id$="instagram-__i__"] .widget-top .widget-title h3,
[id$="post-__i__"] .widget-top .widget-title h3,
[id$="social_icon-__i__"] .widget-top .widget-title h3,
[id$="tweets-__i__"] .widget-top .widget-title h3,
[id$="youtube_subscribe-__i__"] .widget-top .widget-title h3,
[id$="advertising-__i__"] .widget-top .widget-title h3,
[id$="follower-__i__"] .widget-top .widget-title h3,
[id$="subscribe_box-__i__"] .widget-top .widget-title h3,
[id$="banner-__i__"] .widget-top .widget-title h3,
[id$="address-__i__"] .widget-top .widget-title h3 {
    background-color: #363a42;
    color: #fff;
}

[id$="headerstrip-__i__"] .widget-top .widget-title h3 {
    background-color: #6f6e56;
    color: #fff;
}

[id$="fw_instagram-__i__"] .widget-top .widget-title h3 {
    background-color: #647596 !important;
    color: #fff;
}

[id$="_pixwell_navbar_widget_button-__i__"] .widget-top .widget-title h3 {
    background-color: #bda96f;
    color: #fff;
}

.menu-item-settings:after {
    display: table;
    clear: both;
    content: '';
}

.field-ruby-mega.description-wide input {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
}

.field-ruby-mega-info {
    display: block;
    overflow: hidden;
    margin: 20px 20px 10px 0;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff7d3;
    font-size: 12px;
}
