@media all and (min-width: 1024px) {
    .redux-container {
        margin-top: 30px;
        border: 1px solid #f7f7f7;
        background: #3b414c;
        box-shadow: none;
        font-size: 11px;
    }

    .redux-container tbody {
        overflow: hidden;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }

    .redux-container tbody:before, .redux-container tbody:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .redux-container .expand_options {
        display: none !important;
    }

    body:not(.wp-customizer) .redux-main {
        display: block;
        margin-left: 260px !important;
        padding-right: 20px;
        padding-left: 20px;
        min-height: 900px !important;
        border-left: 0;
        background-color: #fff;
    }

    .redux-main .redux-container-background .upload {
        max-width: 100%;
        width: auto;
    }

    .redux-sidebar {
        display: block;
        float: left;
        overflow: hidden;
        box-sizing: border-box;
        padding-top: 20px;
        max-width: 280px;
        width: auto;
        height: 100%;
        background: #3b414c;
    }

    .redux-container-select {
        font-size: 12px !important;
    }

    .redux-sidebar .redux-group-menu {
        padding-bottom: 15px;
    }

    .redux-sidebar .redux-group-menu li a {
        position: relative;
        display: block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin: 5px 15px;
        padding: 0 20px !important;
        min-width: 230px;
        max-width: 230px;
        border: 0;
        border-bottom: none !important;
        -webkit-border-radius: 40px;
        border-radius: 40px;
        color: #eee;
        font-weight: 500;
        font-size: 14px;
        line-height: 40px;
        -webkit-transition: background-color .3s;
        -moz-transition: background-color .3s;
        -ms-transition: background-color .3s;
        -o-transition: background-color .3s;
        transition: background-color .3s;
    }

    .redux-container #info_bar {
        padding: 10px 10px;
        border-bottom: none;
        background: #f8f8f8;
        box-shadow: none;
        color: #333;
    }

    .redux-container #redux-intro-text {
        border: 0;
    }

    .redux-container #redux-header {
        padding: 0;
        border-bottom: 0;
        border-bottom: 10px solid #4b5567 !important;
        background-color: #363a42;
        background-repeat: repeat-x !important;
    }

    .redux-container #redux-header .display_header {
        position: static;
        margin: 0;
        padding: 30px;
        min-width: 200px;
        text-align: left;
    }

    .redux-container #redux-header .display_header h2 {
        letter-spacing: -0.03em;
        font-weight: bold;
        font-size: 26px;
    }

    .redux-container #redux-header .display_header span {
        font-weight: bold;
        font-style: italic;
    }

    .redux-main .redux-option-image {
        margin: 5px 15px 10px 0;
        padding: 0;
        border: 3px solid #3bc3d5;
        border-radius: 0;
    }

    .redux-container #redux-footer {
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: none !important;
        background: #f8f8f8 !important;
    }

    .sticky-footer-fixed {
        right: auto !important;
        left: 444px !important;
    }

    .redux-main input[type=checkbox], .redux-main input[type=color],
    .redux-main input[type=date], .redux-main input[type=datetime-local],
    .redux-main input[type=datetime], .redux-main input[type=email],
    .redux-main input[type=month], .redux-main input[type=number],
    .redux-main input[type=password], .redux-main input[type=radio],
    .redux-main input[type=search], .redux-main input[type=text],
    .redux-main select, .redux-main textarea {
        outline: none;
        border-color: #eee;
        box-shadow: none;
        font-size: 11px;
    }

    div#redux_notification_bar {
        position: absolute;
        top: 0;
        left: 0;
    }

    .redux-container .sticky-save-warn .redux-save-warn {
        right: auto;
        left: auto;
    }

    .redux-main #redux_ajax_overlay {
        opacity: .2;
    }

    .redux-main input[type=text] {
        padding: 10px 15px;
        border-radius: 0;
    }

    .redux-main input[type=checkbox]:checked:before {
        color: #4aed77;
    }

    .redux-main textarea {
        padding: 15px !important;
    }

    .redux-main textarea:focus, .redux-main textarea:hover {
        border-color: #999;
    }

    .redux-main a {
        color: #cd2d08;
    }

    .redux-sidebar .redux-group-tab-link-a i {
        display: inline-block;
        font-size: 16px;
        line-height: 40px;
    }

    .redux-main .button.remove-image:hover, .redux-main .removeCSS:hover {
        background: #e74c3c;
    }

    .redux-sidebar .redux-group-tab-link-a span.group_title {
        padding-left: 24px;
        font-weight: 700;
        font-size: 13px;
    }

    .redux-group-tab > h2 {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        letter-spacing: -0.02em;
        font-weight: bold;
        font-size: 24px;
        line-height: 1;
    }

    .redux-container .redux-group-tab .redux-section-desc {
        margin-top: 12px;
        margin-bottom: 25px;
        max-width: 800px;
        color: #333;
        font-size: 14px;
        line-height: 1.7;
    }

    .redux-container .redux-group-tab .redux-section-desc em {
        display: block;
        margin-top: 10px;
        padding-left: 10px;
        border-left: 3px solid;
        font-weight: 700;
        line-height: 1;
    }

    .redux-container .ruby-section-start .redux-section-desc {
        margin-top: 0;
        margin-bottom: 25px;
        max-width: 800px;
        color: #666;
        font-style: italic;
        font-size: 13px;
        line-height: 1.6;
    }

    .redux-main .description {
        max-width: 400px;
    }

    .redux-main .description.field-desc {
        margin-top: 12px;
        max-width: 100%;
        color: #666;
        font-style: italic;
        font-size: 13px;
        line-height: 1.7;
    }

    #redux-import-action span {
        color: #f48427;
        font-size: 13px;
    }

    .select2-container .select2-choice {
        padding: 0 0 0 16px;
        height: 32px;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 0;
        background: #fff;
        line-height: 32px;
    }

    .select2-container .select2-choice abbr {
        top: 10px;
        right: 36px;
    }

    .select2-container .select2-choice > .select2-chosen {
        margin-right: 36px !important;
    }

    .select2-drop {
        border-radius: 0 0 0 0;
    }

    .select2-drop-active, .select2-container-multi.select2-container-active .select2-choices,
    .select2-drop.select2-drop-above.select2-drop-active,
    .select2-container-active .select2-choice,
    .select2-container-active .select2-choices,
    .select2-dropdown-open.select2-drop-above .select2-choice,
    .select2-dropdown-open.select2-drop-above .select2-choices {
        border-color: #999 !important;
    }

    .select2-search input {
        margin-top: 5px;
        padding-left: 13px;
        min-height: 32px;
        border-radius: 0;
    }

    .select2-search input:hover, .select2-search input:focus {
        border-color: #999;
        box-shadow: none;
    }

    .select2-container .select2-choice .select2-arrow {
        position: absolute;
        top: 1px;
        right: 1px;
        width: 30px;
        height: 30px;
        outline: none;
        border: 0 none;
        border-radius: 0;
        background: #7a8292;
    }

    .select2-container .select2-choice .select2-arrow b {
        background: none;
    }

    .select2-container .select2-choice .select2-arrow b:before {
        position: relative;
        display: block;
        width: 30px;
        color: #fff;
        content: "\f126";
        text-align: center;
        font-size: 8px;
        font-family: 'Elusive-Icons';
        line-height: 30px;
    }

    .select2-dropdown-open .select2-choice .select2-arrow b:before {
        content: "\f129";
    }

    .redux-container .select2-drop-active {
        margin-top: 3px !important;
        border: 1px solid #999 !important;
        border-radius: 0 !important;
    }

    .redux-container .select2-results .select2-highlighted {
        background: #7a8292 !important;
    }

    .redux-container .select2-results .select2-highlighted {
        border-radius: 0 !important;
        background: #7a8292 !important;
        line-height: 30px !important;
    }

    .redux-container .select2-drop {
        box-shadow: none !important;
        line-height: 30px !important;
    }

    .switch-options .cb-enable {
        margin-top: 0 ! important;
        margin-bottom: 0 !important;
        height: 30px;
        border: none;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background: #fff;
        box-shadow: none;
        line-height: 30px;
    }

    .switch-options .cb-disable {
        margin-top: 0 ! important;
        margin-bottom: 0 !important;
        padding: 0 7px;
        height: 30px;
        border: none;
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background: #fff;
        box-shadow: none;
        line-height: 30px;
    }

    .redux-container .redux_field_th {
        display: block;
        padding: 25px 25px 25px 0;
        min-width: 210px;
        font-weight: 700 !important;
        font-size: 15px;
    }

    .redux-main span.description {
        margin-top: 10px;
        margin-right: 30px;
        max-width: 380px;
        color: #aaa;
        text-transform: none;
        font-weight: normal;
        font-style: normal !important;
        font-size: 13px;
        line-height: 1.5em;
    }

    .redux-main span.description:first-letter {
        text-transform: uppercase;
    }

    .redux-container .expand_options {
        border: 1px solid #e2e2e2;
        border-radius: 0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .redux-container-switch .cb-enable span, .redux-container-switch .cb-disable span {
        padding: 0 5px;
        height: 30px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 400;
        font-size: 11px;
        line-height: 30px;
    }

    #wpwrap .redux-container .redux-container-switch .cb-enable.selected, #wpwrap .redux-container .ui-buttonset .ui-state-active,
    .wp-customizer .redux-container-switch .cb-enable.selected, .wp-customizer .redux-field-container .ui-buttonset .ui-state-active {
        border: 1px solid transparent !important;
        background: #78d098 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        box-shadow: none !important;
    }

    .redux-sidebar .redux-group-menu li.active a, .redux-sidebar .redux-group-menu li.activeChild a {
        background: #78d098 !important;
        color: #fff !important;
        text-shadow: none !important;
    }

    input.small-text {
        width: 100px !important;
        border-color: #ddd !important;
    }

    .redux-container-switch .cb-disable, .redux-container-switch .cb-enable,
    .redux-container .ui-state-default, .redux-container .ui-widget-content .ui-state-default,
    .redux-container .ui-widget-header .ui-state-default {
        border-color: #e2e2e2 !important;
        background: #fff !important;
    }

    #wpwrap .redux-container-switch .cb-disable.selected,
    .wp-customizer .redux-container-switch .cb-disable.selected {
        border: 1px solid transparent !important;
        background: #3b414c !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        box-shadow: none !important;
    }

    #redux_save {
        background: #78d098;
        color: #fff;
    }

    #redux_save:hover, #redux_save:focus {
        background-color: #1ed4a0 !important;
    }

    .redux-main .redux-action_bar input[type=submit] {
        margin-right: 5px;
        border: none !important;
        -webkit-border-radius: 40px !important;
        border-radius: 40px !important;
        background: #7a8292;
        box-shadow: none !important;
        color: #fff;
        text-transform: uppercase;
        text-shadow: none;
        font-weight: 400;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .redux-main .redux-action_bar input[type='submit']:nth-of-type(2):hover,
    .redux-main .redux-action_bar input[type='submit']:nth-of-type(2):focus,
    .redux-main .redux-action_bar input[type='submit']:nth-of-type(3):hover,
    .redux-main .redux-action_bar input[type='submit']:nth-of-type(3):focus {
        background: #ff8763 !important;
        color: #fff;
    }

    #redux-import-action {
        margin-top: 15px !important;
    }

    .redux-container-multi_text > a,
    #redux-import-action input[type=submit],
    #redux-export-code-dl {
        border: none !important;
        background: #78d098 !important;
        box-shadow: none !important;
        color: #fff;
        text-shadow: none !important;
    }

    .redux-container .select2-container-multi .select2-choices {
        padding: 5px;
        max-height: 600px;
        border-color: #ddd;
        background: transparent;
    }

    .redux-main .redux-field-container {
        padding: 10px 0;
        max-width: 600px;
    }

    .redux-main .redux-field-container.redux-container-image_select {
        max-width: 100%;
    }

    .redux-container-multi_text > a:hover, .redux-container-multi_text > a:focus,
    #redux-import-action input[type=submit]:hover,
    #redux-import-action input[type=submit]:focus,
    #redux-export-code-dl:hover, #redux-export-code-dl:focus {
        background: #1ed4a0 !important;
    }

    .redux-container .redux-container-import_export a {
        margin-right: 7px;
        border: none !important;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #999;
        box-shadow: none !important;
        color: #fff;
        -webkit-transition: all .35s;
        -moz-transition: all .35s;
        -ms-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }

    .redux-container .redux-container-import_export a:hover, .redux-container .redux-container-import_export a:focus {
        background-color: #28d466;
        color: #fff;
    }

    .redux-container .redux-container-import_export a:hover, .redux-container .redux-container-import_export a:focus {
        background-color: #ff8763 !important;
    }

    .redux-container #import_export_default_section_group a:hover, .redux-container #import_export_default_section_group a:focus {
        background: #4d4c4c;
        color: #fff;
    }

    .redux-sidebar .redux-menu-error {
        margin-top: 5px;
        margin-right: 20px;
    }

    .redux-container-multi_text .redux-multi-text-remove {
        padding: 3px;
        color: #aaa;
        font-weight: bold;
        font-size: 12px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .redux-container-multi_text .redux-multi-text-remove:hover, .redux-container-multi_text .redux-multi-text-remove:focus {
        background: #ec4b4b;
        color: #fff;
    }

    .redux-main .theme-info li {
        margin-bottom: 10px !important;
    }

    .redux-main .theme-description {
        margin-bottom: 15px;
        font-weight: bold;
    }

    #pixwell_theme_options-pixwell_multi_sidebar input[type=text] {
        margin-bottom: 10px;
        padding: 7px 10px;
        border: 1px solid transparent;
        background: #ddd;
        -webkit-transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -ms-transition: all .35s ease-in-out;
        -o-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
    }

    .redux-container-image_select .redux-image-select-selected img {
        border-color: #78d098 !important;
    }

    .redux-container-image_select .redux-image-select-selected {
        background: transparent;
    }

    .redux-container-image_select ul.redux-image-select li {
        padding: 0 10px 10px 0;
    }

    .redux-image-select span {
        display: block;
        text-align: center;
        font-size: 10px;
    }

    .form-table-section {
        margin-left: 24px;
    }

    .redux-main .input-append {
        position: relative;
    }

    .redux-main .input-append .add-on, .redux-main .input-prepend .add-on {
        display: block;
        padding: 0 !important;
        width: 30px;
        height: 30px;
        border: 0 none;
        border-radius: 0;
        background: #7a8292;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 8px;
        line-height: 30px;
    }

    .redux-main .redux-container-typography .add-on {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-box-sizing: border-box !important;
        box-sizing: border-box !important;
        padding: 0;
        width: 26px !important;
        height: 34px !important;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #7a8292 !important;
        font-size: 10px !important;
        line-height: 24px !important;
    }

    .redux-main .redux-typography-container .input_wrapper input.mini {
        top: 0;
        padding-right: 34px;
        width: 100%;
        height: 34px !important;
        border: 1px solid #ddd;
        border-radius: 0;
        font-weight: 700;
    }

    .redux-main .button:not(.wp-color-result) {
        margin-top: 0;
        padding: 0 25px;
        height: 32px;
        border: none;
        -webkit-border-radius: 4px !important;
        border-radius: 4px !important;
        background: #78d098;
        box-shadow: none;
        color: #fff !important;
        vertical-align: middle;
        font-weight: 700;
        font-size: 12px;
        line-height: 32px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    .redux-main .button:not(.wp-color-result):hover,
    .redux-main .button:not(.wp-color-result):focus {
        background: #1ed4a0 !important
    }

    .redux-main .wp-color-result-text {
        border-left: none;
    }

    .redux-main .input-append {
        margin-right: 0;
    }

    .redux-sidebar .redux-group-menu li {
        display: block;
        overflow: hidden;
    }

    .redux-container .redux-main .form-table tr {
        border: none !important;
    }

    .redux-sidebar .redux-group-menu li a:hover, .redux-sidebar .redux-group-menu li a:focus {
        background: #363a42;
        color: #fff;

    }

    .redux-sidebar .redux-group-menu li:last-child {
        border-bottom: 0;
    }

    .redux-sidebar .redux-group-menu li a.custom-tab {
        background: transparent;
        color: #fff;
    }

    .redux-container-textarea {
        max-width: 450px;
    }

    .redux-sidebar .redux-group-menu li.active a {
        background: #fff;
    }

    .redux-container .redux-group-tab {
        margin-bottom: 30px;
        padding-left: 10px;
    }

    .redux-main .wp-picker-container .wp-color-result {
        padding-top: 2px;
        padding-right: 2px;
        padding-bottom: 2px;
        height: auto !important;
        border: 1px solid #eee !important;
        border-radius: 0;
        background-color: #eee;
        box-shadow: none;
    }

    #pixwell_multi_sidebar-ul input[type=text] {
        margin-bottom: 10px;
        padding: 10px 15px;
        max-width: 240px;
        border-radius: 4px;
        background: #3b414c;
        color: #fff;
        font-weight: bold;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    #pixwell_multi_sidebar-ul input[type=text]:hover, #pixwell_multi_sidebar-ul input[type=text]:focus {
        background: #f2f2f2;
        color: #282828;
    }

    .redux-main .wp-color-result:after {
        padding: 0 10px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        font-weight: bold;
    }

    .wp-picker-container input[type=text].wp-color-picker {
        margin-left: 15px;
        padding: 3px 0;
    }

    .redux-main .wp-picker-input-wrap label {
        display: inline-block;
    }

    .redux-main .wp-picker-clear {
        height: 24px !important;;
        line-height: 24px !important;
    }

    .redux-main .iris-picker .iris-square,
    .redux-main .iris-picker .iris-slider,
    .redux-main .iris-picker .iris-square-inner,
    .redux-main .iris-picker .iris-palette {
        border-radius: 0;
        box-shadow: none;
    }

    #pixwell_theme_options-ruby_raw_info {
        max-width: 550px;
    }

    #current-theme img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

    #current-theme h2 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }

    .redux-container #redux-header .display_header .redux-dev-mode-notice-container {
        position: absolute;
        top: 85px;
        right: auto;
        left: 30px !important;
        font-size: 10px !important;
    }

    .redux-container #redux-header .display_header span.redux-dev-mode-notice {
        background-color: #ffc784;
    }

    .redux-section-field h3 {
        border-bottom: none !important;
    }

    .ruby-section-end {
        margin-top: 25px;
        margin-bottom: 25px;
        border-top: 4px solid #f2f2f2;
    }

    .ruby-section-end.no-border {
        border-top: none;
    }

    .redux-container .form-table > tbody > tr > th {
        padding: 0 30px 0 0;
        width: 30% !important;
        vertical-align: middle;
    }

    .redux-container-image_select .redux-image-select img, .redux-container-image_select .redux-image-select .tiles {
        max-width: 72px;
    }

    .redux-container .select2-container-multi .select2-choices .select2-search-choice {
        margin: 5px 0 5px 5px !important;
        border: 1px solid #999 !important;
        border-radius: 0 !important;
        background: #fff !important;
    }

    #redux-header .rAds {
        top: 20px !important;
        right: 20px !important;
    }

    #redux-header .rAds img {
        margin-top: 0 !important;
    }

    body.wp-admin .redux-container #redux-form-wrapper .select2-container {
        min-width: 280px !important;
        outline: none !important;
        box-shadow: none !important;
        white-space: nowrap;
    }

    .redux-container .redux-typography-container .select2-container {
        min-height: 0;
    }

    .redux-container textarea.large-text {
        display: block;
        max-width: 100%;
    }

    .redux-container .redux-group-tab h3 {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0 30px;
        -webkit-border-radius: 34px;
        border-radius: 34px;
        background: #9a9dcc !important;
        color: #fff !important;
        font-weight: 700;
        font-size: 15px !important;
        line-height: 34px !important;
    }

    .redux-container .redux-container-sorter h3 {
        padding: 0;
        padding-left: 0 !important;
        border: none;
        background: none !important;
        box-shadow: none;
        color: #282828 !important;
        text-align: center;
        text-transform: capitalize;
    }

    .redux-container-sorter ul {
        padding: 20px 15px;
        border: none;
        border-radius: 4px;
        background: #f9f9f9;
        text-align: center;
    }

    .redux-container-sorter ul li {
        margin: 10px 0;
        padding: 7px 0;
        height: 20px !important;
        border: none !important;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        background: #78d098;
        color: #fff !important;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
        line-height: 20px !important;
    }

    .redux-container-sorter ul:last-child li {
        background-color: #3b414c;
    }

    .redux-main .buttonset .ui-button-text {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
    }

    .redux-container .ui-button {
        border-radius: 0 !important;
        box-shadow: none !important;
    }

    .linkColor strong {
        display: block;
        margin-bottom: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 11px;
    }

    .redux-main .redux-container-background .select2-container {
        margin-right: 2px;
    }

    .redux-container-import_export textarea {
        padding: 10px;
        min-height: 185px;
    }

    .redux-sidebar .redux-group-menu li.hasSubSections a {
        display: block;
        width: 100%;
        text-shadow: none !important;
    }

    .redux-sidebar .redux-group-menu li.active.hasSubSections > a {
        color: #fff !important;
    }

    .redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections > a,
    .redux-container .redux-sidebar .redux-group-menu li.activeChild.hasSubSections > a:focus {
        background: #363a42 !important;
        color: #fff !important;
    }

    .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li.active a,
    .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a,
    .wp-admin .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li a:hover,
    .wp-admin .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li.active a {
        background-color: #78d098 !important;
        color: #fff !important;

    }

    .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li a i {
        font-size: 10px;
        line-height: 32px;
    }

    .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li.hasIcon a span.group_title {
        display: block;
        padding-left: 20px;
        text-shadow: none !important;
        font-size: 14px;
        line-height: 32px;
    }

    .redux-sidebar .hasSubSections .extraIconSubsections i {
        font-size: 10px;
        line-height: 33px;
    }

    .redux-sidebar .redux-group-menu li.active.hasSubSections ul.subsection li.hasIcon a {
        padding-left: 25px;
    }

    .redux-sidebar .hasSubSections .extraIconSubsections i:before {
        content: "\f126" !important;
    }

    .redux-container .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li a {
        background-color: transparent !important;
    }

    .redux-sidebar .redux-group-menu li.activeChild.hasSubSections .active a:after {
        display: none !important;
    }

    .wp-admin .redux-container .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li a {
        margin-right: 0;
        margin-left: 0;
        padding-right: 10px !important;
        padding-left: 10px !important;
        min-width: 200px;
        max-width: 200px;
        width: 200px;
    }

    .redux-sidebar .redux-group-menu li.hasSubSections ul.subsection li.hasIcon a span.group_title {
        margin-left: -7px !important;
    }

    .redux-sidebar .redux-group-menu .hasSubSections li.redux-group-tab-link-li {
        border-right: none;
        border-left: none;
    }

    .redux-main .form-table-section-indented {
        margin-right: 2% !important;
        margin-left: 2% !important;
    }

    .redux-main #redux-sticky {
        margin-bottom: 45px;
    }

    .redux-main .redux-typography-container {
        margin-right: -5px;
        margin-left: -5px;
        max-width: 660px;
    }

    .redux-main .redux-typography-container .select_wrapper, .redux-main .redux-typography-container .select_wrapper:nth-child(even),
    .redux-main .redux-typography-container .select_wrapper:nth-child(odd), .redux-main .redux-typography-container .input_wrapper {
        display: block;
        float: left;
        margin: 0 !important;
        padding: 10px 5px;
        min-width: 0 !important;
        max-width: none !important;
        width: 50% !important;
        height: auto;
    }

    .redux-main .redux-typography-container .input_wrapper {
        width: 33.3333% !important;
    }

    .redux-main .redux-typography-container .input_wrapper.font-size {
        margin-left: 0;
    }

    .redux-main .redux-typography-container label {
        margin: 0 0 4px 0 !important;
        line-height: 1.5em;
    }

    .redux-main .redux-typography-container .wp-picker-container {
        display: block;
        clear: both;
        margin-bottom: 0;
    }

    .redux-main .redux-typography-container .typography-preview {
        display: block;
        overflow: hidden;
        margin-top: 20px;
        max-width: 100%;
    }

    .redux-main .redux-typography-container .select_wrapper .redux-typography {
        height: 34px !important;
    }

    .theme-info {
        display: block;
        margin-top: 45px;
        padding: 30px;
        width: 100%;
        background-color: #fff;
    }

    .redux-main .theme-info li {
        margin-bottom: 15px !important;
        font-style: italic;
        font-size: 14px;
    }

    .theme-description {
        text-transform: uppercase;
        font-style: normal !important;
    }

    .redux-sorter-container h3 {
        padding-bottom: 10px;
    }

    .sp-container button {
        padding: 7px 10px;
        outline: none !important;
        border: none !important;
        border-radius: 0 !important;
        background: #2980b9;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 11px;
        -webkit-transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -ms-transition: all .35s ease-in-out;
        -o-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
    }

    .sp-container button:hover, .sp-container button:hover:focus {
        background: #28d466;
    }

    .redux-main .color-transparency-check {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 10px;
    }

    .redux-container-image_select .redux-image-select img, .redux-container-image_select .redux-image-select .tiles {
        border-color: #e2e2e2;
    }

    .redux-container .noUi-connect {
        background: #78d098 !important;
        background-image: none !important;
    }

    .redux-container .noUi-handle {
        border-radius: 0;
    }

    .redux-container .noUi-handle:before, .redux-container .noUi-handle:after {
        display: none;
    }

    .ruby-notice-import {
        display: block;
        margin-bottom: 45px;
        max-width: 900px;
        font-size: 12px;
        line-height: 18px;
    }

    .ruby-notice-import p {
        margin-bottom: 15px !important;
    }

    .redux-message {
        display: none !important;
    }

    /** wp-customizer page */
    .wp-customizer #redux_rAds {
        display: none;
    }

    #customize-theme-controls {
        position: relative;
        display: block;
        width: 100%;
    }

    #customize-controls .description {
        display: block;
        margin-top: 5px;
        margin-right: 0;
    }

    #customize-controls .redux-image-select img {
        width: 60px !important;
    }

    .redux-main .redux-container-import_export .description {
        margin-bottom: 15px;
    }

    .redux-sidebar .redux-group-menu li.hasSubSections .extraIconSubsections {
        position: absolute !important;
        top: 1px;
        right: 10px;
        font-size: 8px !important;
    }

    .redux-container .redux-sidebar ul .subsection {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0 15px !important;
        padding: 10px;
        width: auto;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, .08) !important;
    }

    .redux-container .notice-green {
        margin-top: 5px;
        margin-left: 5px;
        padding: 0 30px;
        border: none;
        border-radius: 4px;
        background-color: #78d098;
        color: #fff;
        text-shadow: none;
        font-size: 14px;
        line-height: 40px;
    }

    .redux-container .notice-red, .redux-container .redux-field-errors {
        margin: 5px;
        padding: 0 30px;
        border: none;
        border-radius: 4px;
        background-color: #ff8763;
        color: #fff;
        text-shadow: none;
        font-size: 14px;
        line-height: 40px;
    }

    .redux-container .notice-yellow {
        margin: 5px;
        padding: 0 30px;
        border: none;
        border-radius: 4px;
        background-color: #b6b9f3;
        color: #fff;
        text-shadow: none;
        font-size: 14px;
        line-height: 40px;
    }

    .redux-sidebar .redux-menu-error {
        margin-top: -5px;
        margin-right: 0;
        background-color: #ff8763;
        color: #fff;
        font-size: 13px;
    }

    .wp-customizer .redux_field_th {
        font-weight: 700;
        font-size: 15px;
    }

    .redux-container #section-table-section_start_quick_translation .redux_field_th {
        text-transform: none !important;
        font-weight: 400 !important;
        font-size: 15px;
        line-height: 1.5;
    }

    .redux-main #section-table-section_start_quick_translation input[type=text] {
        width: 100%;
    }

    /* rtl */
    .rtl .redux-sidebar {
        float: right;
    }

    body.rtl:not(.wp-customizer) .redux-main {
        margin-right: 260px !important;
        margin-left: 0 !important;
        padding-left: 20px;
    }

    body.rtl .redux-container .redux-main span.description {
        margin-right: 0;
        margin-left: 30px;
    }

    body.rtl .redux-group-tab-link-a span.group_title,
    body.rtl .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.hasIcon a span.group_title {
        padding-left: 0 !important;
    }

    body.rtl .redux-container .form-table > tbody > tr > th {
        padding-right: 0;
        padding-left: 30px;
    }

    body.rtl .redux-container .select2-container .select2-choice abbr {
        right: auto;
        left: 36px;
    }

    body.rtl div#redux_notification_bar {
        right: 0;
        left: auto;
    }

    body.rtl .sticky-footer-fixed {
        right: 444px !important;
        left: auto !important;
    }

    body.rtl .redux-container #redux-header .display_header .redux-dev-mode-notice-container {
        right: 30px !important;
        left: auto !important;
    }

    body.rtl .redux-container #redux-header .display_header {
        float: right;
        text-align: right;
    }

    body.rtl #redux-header .rAds {
        right: auto !important;
        left: 20px !important;
    }

    body.rtl .redux-main .button:not(.wp-color-result) {
        margin-left: 5px;
    }

    body.rtl .wbc_importer #wbc-importer-reimport {
        margin-right: 4px;
        margin-left: 0;
    }

    .redux-container-color_gradient strong {
        display: inline-block;
        margin-top: 2px;
        margin-right: 7px;
        vertical-align: middle;
        font-size: 13px;
    }

    .redux-notice-field.redux-success {
        margin-bottom: 20px;
        background-color: #fafafa;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /** import panel */
    .wbc_importer {
        margin-top: 20px;
    }

    .wbc_importer .theme-browser,
    .wbc_importer .theme-browser .themes {
        display: flex;
        display: -webkit-flex;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        cursor: auto !important;
        flex-grow: 1;
        flex-flow: row wrap;
        align-items: flex-start;
    }

    .wbc_importer .theme-browser .theme {
        display: flex;
        display: -webkit-flex;
        margin: 0 1.5% 50px 1.5% !important;
        width: 46%;
        border: 5px solid #f2f2f2;
        -webkit-box-shadow: 0 45px 50px -45px #999;
        box-shadow: 0 45px 50px -45px #999;
        cursor: auto !important;
        flex: 0 0 46%;
        flex-flow: row wrap;
    }

    .wbc_importer .theme .theme-screenshot {
        display: block;
        width: 100%;
    }

    .wbc_importer .theme-actions {
        border-radius: 0 !important;
        background: none !important;
        box-shadow: none !important;
        text-align: right;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px !important;
    }

    .wbc_importer .theme-browser .themes .theme-name {
        display: block;
        overflow: hidden;
        margin: 0;
        margin-bottom: 10px;
        padding: 10px;
        height: 18px;
        border: none;
        -webkit-border-radius: 0;
        border-radius: 0;
        background: #f8f8f8 !important;
        box-shadow: none !important;
        color: #282829 !important;
        text-align: center;
        letter-spacing: 0;
        font-weight: 700;
        font-size: 13px !important;
        line-height: 18px !important;
    }

    .wbc_importer .theme-browser .theme .spinner {
        margin: 0 10px 0;
    }

    .wbc_importer .importer-button {
        margin-top: 0;
        padding: 0 10px !important;
        height: 24px !important;
        border: none;
        -webkit-border-radius: 2px !important;
        border-radius: 2px !important;
        background-color: #2abfac !important;
        box-shadow: none;
        color: #fff !important;
        text-transform: uppercase;
        font-weight: normal !important;
        font-size: 12px !important;
        line-height: 24px !important;
    }

    .ruby-import-data-notice {
        padding: 20px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background-color: #fdffbc;
    }

    .ruby-import-tips {
        padding: 20px;
        border: 1px solid #6dbb89;
        -webkit-border-radius: 6px;
        border-radius: 6px;
    }

    .ruby-import-tips > strong:first-child {
        margin-bottom: 10px;
    }

    .ruby-import-tips a {
        color: #fff !important;
    }

    .redux-container .redux-main .theme-browser .button-primary {
        border: none;
        background-color: #19a1f7 !important;
        background-image: none !important;
        box-shadow: none !important;
        color: #fff !important;
        text-transform: uppercase;
        text-shadow: none !important;
        font-weight: normal;
        transition: all 0.13s linear;
    }

    .redux-container .redux-main .theme-browser .button-primary:hover,
    .redux-container .redux-main .theme-browser .button-primary:focus {
        opacity: .7;
    }

    .theme-screenshot-holder {
        position: relative;
        display: block;
        width: 100%;
    }

    .wbc_importer .data-select {
        position: relative;
        z-index: 999;
        display: block;
    }

    .wbc_importer .import-bar {
        position: relative;
        z-index: 999;
        display: block;
        width: 100%;
    }

    .wbc_importer .theme-browser .theme.active .theme-actions,
    .wbc_importer .theme-browser .theme .theme-actions {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        margin: 0;
        margin-top: 10px;
        cursor: auto !important;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
    }

    .wbc_importer .wbc_imported_info {
        margin-right: 10px;
        background-color: #666 !important;
        opacity: .4 !important;
        cursor: alias;
        pointer-events: none !important;
    }

    .wbc_importer .rb-disabled {
        opacity: .5;
        cursor: alias;
        pointer-events: none;
    }

    .wbc_importer .data-select {
        margin-top: 5px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .wbc_importer .rb-import-divider {
        display: block;
        clear: both;
        margin: 7px 0;
        width: 100px;
        height: 2px;
        border-bottom: 2px solid #aaa;
    }

    .wbc_importer .rb-import-header {
        padding: 7px 20px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 12px;
    }

    .wbc_importer .plugin-el {
        display: flex;
        display: -webkit-flex;
        padding: 7px 20px;
        font-size: .9em;
    }

    .wbc_importer .plugin-el .name {
        padding-left: 10px;
    }

    .wbc_importer .plugin-el .info {
        display: flex;
        display: -webkit-flex;
        margin-left: auto;
        flex-shrink: 0;
    }

    .wbc_importer .plugin-el .info.activated {
        color: #8aa985;
    }

    .wbc_importer .plugin-el .type {
        margin-left: 5px;
        font-size: .8rem;
        opacity: .5;
    }

    #section-table-section_start_quick_translation .redux_field_th {
        padding-left: 20px !important;
    }

    #section-table-section_start_quick_translation tr:nth-child(2n+1) {
        background: #f7f7f7;
    }

    #section-table-section_start_quick_translation tbody {
        border: 1px solid #eee;
    }
}

@media (max-width: 992px) {
    .redux-main .redux-typography-container .select_wrapper, .redux-main .redux-typography-container .select_wrapper:nth-child(even),
    .redux-main .redux-typography-container .select_wrapper:nth-child(odd), .redux-main .redux-typography-container .input_wrapper {
        width: 100% !important;
    }
}

@media screen and (max-width: 1124px) {
    .redux-sidebar .redux-group-tab-link-a span.group_title {
        line-height: 38px;
    }

    .redux-sidebar .redux-group-menu {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .form-table-section {
        margin-left: 0;
    }
}

@media only screen and (min-width: 1400px) {
    .wbc_importer .theme-browser .theme {
        display: flex;
        display: -webkit-flex;
        margin: 0 1.5% 50px 1.5% !important;
        width: 30%;
        border: 5px solid #f2f2f2;
        -webkit-box-shadow: 0 45px 50px -45px #999;
        box-shadow: 0 45px 50px -45px #999;
        cursor: auto !important;
        flex: 0 0 30%;
        flex-flow: row wrap;
    }
}

.rb-demo-import-checkbox {
    display: flex;
    display: -webkit-flex;
    color: inherit !important;
    text-decoration: none !important;
    cursor: pointer;
    flex-grow: 0;
    align-items: center;
}

.rb-demo-import-checkbox:before {
    display: inline-flex;
    margin-right: 7px;
    width: 10px;
    height: 10px;
    border: 2px solid #eee;
    border-radius: 50%;
    content: '';
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    flex-grow: 0;
}

.data-select-el {
    margin-bottom: 7px;
}

.rb-demo-import-checkbox.checked:before {
    border-color: #9ac280;
    background: #9ac280;
}

.layout-info .redux-info-desc {
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.layout-info img {
    margin-left: 20px;
}

.rb-tops-icon.dashicons-before:before {
    line-height: inherit;
    font-size: 18px;
}