@font-face {
    font-family: 'ruby-icon';
    src: url('../fonts/ruby-icon.eot');
    src: url('../fonts/ruby-icon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ruby-icon.woff') format('woff'),
    url('../fonts/ruby-icon.ttf') format('ttf'),
    url('../fonts/ruby-icon.svg#ruby-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.rbi {
    font-family: 'ruby-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^='rbi-'], [class='rbi-'] {
    font-family: 'ruby-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rbi-storefront:before {
    content: "\e93b";
}

.rbi-airplay:before {
    content: "\e936";
}

.rbi-arrow-up-right:before {
    content: "\e937";
}

.rbi-map-pin:before {
    content: "\e934";
}

.rbi-grid:before {
    content: "\e935";
}

.rbi-bookmark-black:before {
    content: '\e931';
}

.rbi-upload:before {
    content: '\e92e';
}

.rbi-book:before {
    content: '\e92f';
}

.rbi-bookmark:before {
    content: '\e930';
}

.rbi-heart-o:before {
    content: '\e91b';
}

.rbi-bag-add:before {
    content: '\e91d';
}

.rbi-bag-o:before {
    content: '\e91e';
}

.rbi-bag-added:before {
    content: '\e91f';
}

.rbi-cart-money:before {
    content: '\e920';
}

.rbi-cart-added:before {
    content: '\e921';
}

.rbi-cart-add:before {
    content: '\e922';
}

.rbi-gallery:before {
    content: '\e904';
}

.rbi-vinyl:before {
    content: '\e906';
}

.rbi-audio:before {
    content: '\e905';
}

.rbi-gallery-light:before {
    content: '\e903';
}

.rbi-shop-bag:before {
    content: '\e901';
}

.rbi-envelope:before {
    content: '\e818';
}

.rbi-inbox:before {
    content: '\e81a';
}

.rbi-printer:before {
    content: '\e81c';
}

.rbi-phone-handset:before {
    content: '\e830';
}

.rbi-map:before {
    content: '\e834';
}

.rbi-laptop:before {
    content: '\e83c';
}

.rbi-bullhorn:before {
    content: '\e859';
}

.rbi-undo:before {
    content: '\e860';
}

.rbi-sync:before {
    content: '\e862';
}

.rbi-thumbs-up:before {
    content: '\e86d';
}

.rbi-thumbs-down:before {
    content: '\e86e';
}

.rbi-move:before {
    content: '\e870';
}

.rbi-chevron-up:before {
    content: '\e873';
}

.rbi-chevron-down:before {
    content: '\e874';
}

.rbi-chevron-left:before {
    content: '\e875';
}

.rbi-chevron-right:before {
    content: '\e876';
}

.rbi-arrow-up:before {
    content: '\e877';
}

.rbi-arrow-down:before {
    content: '\e878';
}

.rbi-arrow-left:before {
    content: '\e879';
}

.rbi-arrow-right:before {
    content: '\e87a';
}

.rbi-warning:before {
    content: '\e87c';
}

.rbi-question:before {
    content: '\e87d';
}

.rbi-menu:before {
    content: '\e87e';
}

.rbi-checkmark:before {
    content: '\e87f';
}

.rbi-expand:before {
    content: '\e88c';
}

.rbi-contract:before {
    content: '\e88d';
}

.rbi-bag:before {
    content: '\e615';
}

.rbi-search-light:before {
    content: '\e618';
}

.rbi-dots:before {
    content: '\e632';
}

.rbi-check:before {
    content: '\e90d';
}

.rbi-circle:before {
    content: '\e900';
}

.rbi-folder:before {
    content: '\e913';
}

.rbi-link-line:before {
    content: '\e914';
}

.rbi-minus:before {
    content: '\e90e';
}

.rbi-search:before {
    content: '\e929';
}

.rbi-bag-round:before {
    content: '\e915';
}

.rbi-tag-round:before {
    content: '\e916';
}

.rbi-trello:before {
    content: '\e917';
}

.rbi-zap:before {
    content: '\e918';
}

.rbi-facebook:before {
    content: '\62';
}

.rbi-amazon:before {
    content: '\63';
}

.rbi-twitter:before {
    content: '\64';
}

.rbi-google:before {
    content: '\65';
}

.rbi-pinterest-i:before {
    content: '\66';
}

.rbi-linkedin:before {
    content: '\67';
}

.rbi-dribble:before {
    content: '\68';
}

.rbi-vk:before {
    content: '\69';
}

.rbi-tumblr:before {
    content: '\6a';
}

.rbi-shopping-bag:before {
    content: '\6e';
}

.rbi-play-button:before {
    content: '\79';
}

.rbi-picture:before {
    content: '\7a';
}

.rbi-flickr:before {
    content: '\6b';
}

.rbi-soundcloud:before {
    content: '\6f';
}

.rbi-vimeo:before {
    content: '\44';
}

.rbi-reddit:before {
    content: '\45';
}

.rbi-skype:before {
    content: '\46';
}

.rbi-spotify:before {
    content: '\47';
}

.rbi-steam:before {
    content: '\48';
}

.rbi-app-store:before {
    content: '\49';
}

.rbi-drupal:before {
    content: '\4a';
}

.rbi-evernote:before {
    content: '\4b';
}

.rbi-photobucket:before {
    content: '\4c';
}

.rbi-sharethis:before {
    content: '\4d';
}

.rbi-squarespace:before {
    content: '\4e';
}

.rbi-yelp:before {
    content: '\4f';
}

.rbi-email-envelope:before {
    content: '\50';
}

.rbi-trend:before {
    content: '\52';
}

.rbi-clock:before {
    content: '\53';
}

.rbi-view:before {
    content: '\54';
}

.rbi-comments:before {
    content: '\56';
}

.rbi-flame:before {
    content: '\55';
}

.rbi-dribbble:before {
    content: '\58';
}

.rbi-whatsapp:before {
    content: '\5a';
}

.rbi-myspace:before {
    content: '\30';
}

.rbi-youtube:before {
    content: '\31';
}

.rbi-digg:before {
    content: '\33';
}

.rbi-instagram:before {
    content: '\34';
}

.rbi-snapchat:before {
    content: '\37';
}

.rbi-heart:before {
    content: '\6c';
}

.rbi-rss:before {
    content: '\42';
}

.rbi-music:before {
    content: '\43';
}

.rbi-tag:before {
    content: '\59';
}

.rbi-behance:before {
    content: '\32';
}

.rbi-blogger:before {
    content: '\35';
}

.rbi-dropbox:before {
    content: '\36';
}

.rbi-ping:before {
    content: '\39';
}

.rbi-github-alt:before {
    content: '\22';
}

.rbi-icq:before {
    content: '\23';
}

.rbi-paypal:before {
    content: '\24';
}

.rbi-picassa:before {
    content: '\21';
}

.rbi-ebay:before {
    content: '\27';
}

.rbi-baidu:before {
    content: '\28';
}

.rbi-bing:before {
    content: '\29';
}

.rbi-kik:before {
    content: '\25';
}

.rbi-podcast-o:before {
    content: '\26';
}

.rbi-help:before {
    content: '\2a';
}

.rbi-card:before {
    content: '\2c';
}

.rbi-translation:before {
    content: '\2d';
}

.rbi-payment:before {
    content: '\2f';
}

.rbi-git:before {
    content: '\3b';
}

.rbi-wechat:before {
    content: '\3d';
}

.rbi-visa:before {
    content: '\3f';
}

.rbi-master-card:before {
    content: '\5b';
}

.rbi-stripe:before {
    content: '\5d';
}

.rbi-cc:before {
    content: '\5e';
}

.rbi-tripadvisor:before {
    content: '\5f';
}

.rbi-500px:before {
    content: '\60';
}

.rbi-apple:before {
    content: '\38';
}

.rbi-buffer:before {
    content: '\2e';
}

.rbi-infinite:before {
    content: '\3a';
}

.rbi-record:before {
    content: '\3c';
}

.rbi-yahoo-buzz:before {
    content: '\7c';
}

.rbi-quora:before {
    content: '\7d';
}

.rbi-zerply:before {
    content: '\7e';
}

.rbi-formspring:before {
    content: '\5c';
}

.rbi-foursquare:before {
    content: '\e000';
}

.rbi-hype-machine:before {
    content: '\e001';
}

.rbi-google-buzz:before {
    content: '\e002';
}

.rbi-arto:before {
    content: '\e003';
}

.rbi-aws:before {
    content: '\e004';
}

.rbi-basecamp:before {
    content: '\e005';
}

.rbi-share:before {
    content: '\e006';
}

.rbi-aim-alt:before {
    content: '\e007';
}

.rbi-aim:before {
    content: '\e008';
}

.rbi-coroflot:before {
    content: '\e009';
}

.rbi-dailybooth:before {
    content: '\e00a';
}

.rbi-ember:before {
    content: '\e00b';
}

.rbi-itunes:before {
    content: '\e00c';
}

.rbi-share-o:before {
    content: '\e00d';
}

.rbi-pin:before {
    content: '\e00e';
}

.rbi-attachment:before {
    content: '\e00f';
}

.rbi-link:before {
    content: '\e010';
}

.rbi-puzzle:before {
    content: '\e011';
}

.rbi-music-tone:before {
    content: '\e012';
}

.rbi-drop:before {
    content: '\e013';
}

.rbi-radio:before {
    content: '\e014';
}

.rbi-chat:before {
    content: '\e015';
}

.rbi-voice:before {
    content: '\e016';
}

.rbi-phone:before {
    content: '\e017';
}

.rbi-destop:before {
    content: '\e018';
}

.rbi-award:before {
    content: '\e019';
}

.rbi-bell-o:before {
    content: '\e92c';
}

.rbi-star-half:before {
    content: '\e908';
}

.rbi-star:before {
    content: '\e909';
}

.rbi-star-full:before {
    content: '\e90a';
}

.rbi-tags:before {
    content: '\e907';
}

.rbi-bell:before {
    content: '\e92b';
}

.rbi-hard-drive:before {
    content: '\e932';
}

.rbi-youtube-o:before {
    content: '\e92d';
}

.rbi-chart-o:before {
    content: '\e91a';
}

.rbi-clock-round:before {
    content: '\e8b5';
}

.rbi-chat-bubble:before {
    content: '\e0ca';
}

.rbi-calendar:before {
    content: '\e919';
}

.rbi-images:before {
    content: '\e3d3';
}

.rbi-mall:before {
    content: '\e54c';
}

.rbi-power:before {
    content: '\e336';
}

.rbi-timeline:before {
    content: '\e923';
}

.rbi-graph:before {
    content: '\e912';
}

.rbi-angle-down:before {
    content: '\e924';
}

.rbi-angle-left:before {
    content: '\e925';
}

.rbi-angle-right:before {
    content: '\e926';
}

.rbi-angle-up:before {
    content: '\e927';
}

.rbi-currency-dollar:before {
    content: '\e928';
}

.rbi-quote-o:before {
    content: '\e910';
}

.rbi-quote:before {
    content: '\e90f';
}

.rbi-location:before {
    content: '\e92a';
}

.rbi-paperplane:before {
    content: '\e902';
}

.rbi-write:before {
    content: '\e90c';
}

.rbi-quill:before {
    content: '\e90b';
}

.rbi-podcast:before {
    content: '\e91c';
}

.rbi-clock-bold:before {
    content: '\e94e';
}

.rbi-database:before {
    content: '\e964';
}

.rbi-load:before {
    content: '\e97a';
}

.rbi-spinner:before {
    content: '\e97b';
}

.rbi-spinner-line:before {
    content: '\e97c';
}

.rbi-pinterest:before {
    content: '\ead1';
}

.rbi-fish-eye:before {
    content: '\e933';
}

.rbi-eye:before {
    content: '\e911';
}